/*

!/wp-content/
!/wp-content/themes/
!/wp-content/themes/twentytwentyfive-child/

/wp-content/plugins/


/wp-content/uploads/
/wp-content/upgrade/
/wp-content/backups/
/wp-content/debug.log

.DS_Store
Thumbs.db
